{
  "accounts": [
    {
      "id": "czk",
      "name": "Investice CZK",
      "bank": "creditas",
      "api_token": "your_creditas_api_token_here",
      "account_id": "your_creditas_account_id_here",
      "known_accounts": [
        "your_account_number1/bank_code1",
        "your_account_number2/bank_code2"
      ]
    },
    {
      "id": "eur",
      "name": "Investice EUR",
      "bank": "creditas",
      "api_token": "your_creditas_api_token_here",
      "account_id": "your_creditas_account_id_here",
      "known_accounts": [
        "your_account_number3/bank_code3"
      ]
    }
  ]
}
